<header class="header" id="header">
  <nav class="nav">
    <div class="nav_center container">
      <div class="logo">
        <h1>Fruity</h1>
      </div>

      <div class="navMenu">
        <ul class="navList">

          <li class="items">
            <a class="Nlink scroll" href="#"></a>
          </li>

          <li class="items">
            <a class="Nlink scroll" href="#header">Home</a>
          </li>

          <li class="items">
            <a class="Nlink scroll" href="#new">New</a>
          </li>

          <li class="items">
            <a class="Nlink scroll" href="#all">Shop</a>
          </li>

          <li class="items">
            <a class="Nlink scroll" href="#featured">Featured</a>
          </li>

          <li class="items">
            <a class="Nlink scroll" href="#contact">Contact</a>
          </li>

          <li class="close flex">
            <svg>
              <use xlink:href="./images/sprite.svg#icon-cross"></use>
            </svg>
          </li>
        </ul>

        <div class="cart flex">
          <span>
            <svg>
              <use xlink:href="./images/sprite.svg#icon-cart-plus"></use>
            </svg>
          </span>
        </div>

        <div class="hem flex">
          <svg>
            <use xlink:href="./images/sprite.svg#icon-menu"></use>
          </svg>
        </div>
      </div>
    </div>
  </nav>

  <!--hero-->
  <div class="hero">
    <div class="heroCenter container">
      <div class="heroLeft">
        <h1>Fresh juice</h1>
        <p>
          We Believe That Healthy Eating, Clear Air In Gental Char Best Start To Genuinw Well Begining
        </p>
        <a href="#" class="button btn">Shop Now</a>
      </div>

      <div class="heroRight">

      </div>
    </div>

    <a class="down flex" href="#">
      <svg>
        <use xlink:href="./images/sprite.svg#icon-angle-down"></use>
      </svg>
    </a>
  </div>
</header>